{% extends "admin_base.html" %}
{% load static %}
{% block title %}
Faculty List
{% endblock %}
{% block extra_style %}
<style>
	table {
		margin-top: 20px;
		border: 2px solid #000;
	}

	.anchor {
		color: blue;
		border-bottom: 1px solid blue;
	}

	.searchbut {
		width: 50px;
		background-color: rgb(191, 204, 204);
		border: none;
		cursor: pointer;
	}
</style>
{% endblock %}
{% block content %}
<div class="container">
	<div>
		{% if message %}
		<div class="alert alert-success alert-dismissible">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			{{message}}
		</div>
		{% endif %}
		{% if error %}
		<div class="alert alert-danger alert-dismissible">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			{{error}}
		</div>
		{% endif %}
		<br>
		<div>
			<div class="col-md-6 offset-md-3 mt-5">
				<form class="input-group mb-3" action="" method="POST">
					{% csrf_token %}
					<input type="text" class="form-control" name="searchval" placeholder="Search ......"
						aria-label="Recipient's username">
					<div class="input-group-append">
						<button class="searchbut" type="submit" name="search"><i class="fa fa-search"></i></button>
					</div>
				</form>
			</div>
		</div>
		{% if faculty_details %}
		<div class="table-responsive">
			<table class="table table-striped bg-white">
				<thead>
					<tr>
						<th scope="col">S.No</th>
						<th scope="col">id number</th>
						<th scope="col">username</th>
						<th scope="col">Branch</th>
						<th scope="col">Subject</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for faculty in faculty_details %}
					<tr>
						<form action="" method="post">
							{% csrf_token %}
							<th scope="row">{{ forloop.counter }}. </th>
							<td>{{faculty.id}}</td>
							<td>{{faculty.username}}</td>
							<td>{{faculty.branch}}</td>
							<td>{{faculty.subject}}</td>
							<td><button class="btn btn-danger" name="deletefaculty"
									value="{{faculty.id}}">Delete</button></td>
						</form>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% else %}
		<div class="jumbotron" style="width: 100%;">
			<p class="lead"><b>No Assigned faculty in the database</b></p>
		</div>
		{% endif %}

	</div>
</div>
{% endblock %}